:root {
    --jff-primary-color: #b700ff;
    --jff-primary-color-hover: #f2d5fd;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    position: relative;
}

.menubar {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: solid 1px #cccccc;
    padding: 0.25rem;
    gap: 0.5rem;
}

.menubar button, .menu button {
    padding: 0.25rem 0.5rem;
    width: 100%;
    background-color: #ffffff;
    border: none;
    text-align: left;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

.menubar button:hover, .menu button:hover {
    background-color: #fcf2ff;
}

.menubar button:active, .menu button:active {
    background-color: var(--jff-primary-color);
    color: #ffffff;
}

.menu {
    display: none;
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0.5rem;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    z-index: 999;
    border-radius: 0.5rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.menu.show {
    display: block;
}

.nav {
    display: flex;
    gap: 0.25rem;
    padding: 0.5rem;
    border: solid 1px #ccc;
    border-left: none;
    border-right: none;
}

.nav.nav-tabs {
    padding: 0.5rem;
    padding-bottom: 0;
    border: none;
}

.nav.nav-tabs button {
    background-color: transparent;
    border: none;
    color: inherit;
}

.nav.nav-tabs button:hover {
    background-color: #0005;
}

.nav .nav-link {
    background-color: #eeeeee;
    border: solid 1px #ccc;
    border-bottom: none;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: -1px;
    z-index: 10;
}

.nav.nav-tabs .nav-link:hover {
    background-color: var(--jff-primary-color-hover);
}

.nav.nav-tabs .nav-link.active {
    background-color: #ffffff;
}

.btn-group {
    display: inline-flex;
    z-index: 1;
    width: fit-content;
}

.btn-group .btn {
    border-radius: 0;
    margin-right: -1px;
}

.btn-group .btn:first-of-type {
    border-radius: 0.5rem 0 0 0.5rem;
}

.btn-group .btn:last-of-type {
    border-radius: 0 0.5rem 0.5rem 0;
}

.btn.active,
.btn-group input[type=radio]:checked+.btn {
    background-color: var(--jff-primary-color);
    color: #ffffff;
}

.btn {
    display: inline-block;
    position: relative;
    padding: 0.15rem 0.5rem;
    background-color: #ffffff;
    border: solid 1px var(--jff-primary-color);
    border-radius: 0.5rem;
    transition: 0.1s;
}

.btn:hover {
    background-color: var(--jff-primary-color-hover);
}